header{
background-color: grey;
font-size:150%;
font-family: "Courier";
margin: -0.55%;
}
header h1{
padding-left: 1%;
display: inline-block;
}
header nav{
display: inline-block;
float: right;
padding: 20px;
}
a{
display: inline-block;
font-style: italic;
color:black;
padding: 20px;
}

h2{
font-family: "Courier New";
}

footer{
text-align: center;
}